/*=========== education_area ===========*/
.live_education_updates {
    position: relative;
    z-index: 1; 
}

.future_education_plans {
    position: relative;
    z-index: 1;
}
/*=========== end of education-area ===========^/